@charset "utf-8";
*{box-sizing: border-box;margin: 0;padding: 0;}
html{height: 100%;font-size: 1px;}   
body{background-color: #2a2f37;touch-action: pan-y;color: #666666;display: flex;align-items: center;height: 100%;flex-direction: column;align-content: center;justify-content: center;}
.clocksvg{margin: 0 auto;padding: 15rem 17rem;display: flex;flex-direction: column;justify-content:center;align-items: center;border-radius: 150rem;background: black;border: #646464 solid 3rem;}
.clocksvg .tit{font-weight: 700;margin: 0rem 0 13rem 0;position: relative;color: #a6d9da;min-height: 32rem;display: flex;align-items: center;}
.clocksvg .tit i{color: #ffffff;font-size: 30rem;margin-right: 6rem;}
.clocksvg .tit b{font-size: 20rem;}
.clocksvg .date{font-size: 24rem;font-weight: 700;margin: 11rem 0 7rem 0;position: relative;color: #d5d5d5;display: flex;align-items: center;}
.clocksvg .date b{font-size: 20rem;font-weight: 700; font-style: normal; line-height: 1;}
.clocksvg .date i{font-size: 18rem;font-weight: 700; font-style: normal; line-height: 1; margin-left: 4rem;}
.clocksvg .time{display: flex;justify-content: space-between;color: #ddd;gap: 6rem;position: relative;}
.clocksvg .circle{position: relative;width: 86rem;height: 86rem;display: flex;justify-content: center;align-items: center;}
.clocksvg .circle .nm{position: absolute;text-align: center;font-weight: 700;font-size:18rem;font-family: sans-serif;margin-top: 0rem;}
.clocksvg .circle .nm i{display: block; font-size:10rem; font-style: normal; line-height: 1;}
.clocksvg .circle .nm::after{font-size: 10rem; display: block;}
.clocksvg .circle.hh .nm::after{content:"Hours";}
.clocksvg .circle.mm .nm::after{content:"Minutes";}
.clocksvg .circle.ss .nm::after{content:"Seconds";}
.clocksvg .circle svg{position: relative;width: 100%;height: 100%; transform: rotate(270deg);}
.clocksvg .circle svg circle{width: 100%;height: 100%;fill: #531356;fill: transparent;stroke: #5a5a5a;stroke-width: 3rem;transform: translate(3rem, 3rem);position: absolute;}
.clocksvg .circle svg circle:nth-child(2){stroke: var(--clr);stroke-dasharray: 250;}
.clocksvg .circle .dot{position: absolute;width: 100%;height: 100%;text-align: center;display: flex;justify-content: center;z-index: 1;}
.clocksvg .circle .dot::before{content:"";position: absolute;top: -2rem;width: 10rem;height: 10rem;background: var(--clr);border-radius: 100%; box-shadow:0rem 0rem 30rem var(--clr) , 0rem 0rem 6rem var(--clr);}
.clocksvg .ap{position: absolute;left: 44rem;top: 15rem;font-size: 9rem;transform: translateX(-53%);}

.selt{margin: 30rem 20rem 0rem;display: flex;justify-content: center;flex-wrap: wrap;gap: 10rem;}
.selt .btn{border: none;width: 60rem;height: 60rem;background: #000;border: #646464 solid 2rem;color: #dddddd;border-radius: 100rem;font-size: 12rem;}
.selt .btn:active{background-color: #222222;}
.test{position: absolute;top: 0;left: 0;font-size: 12rem;color: #484848;color: transparent;}
